@import url('https://fonts.googleapis.com/css?family=Times+New+Roman');
@import "tailwindcss";




@theme {
  --color-yellow: #a16207;
  --color-amber: #c28f64;
  --color-amberHover: #B6865E;
  --color-darkCyan: #0d3d3c;

  --color-primary: #C39065;
  --color-primary-50: #fef2f3;
  --color-primary-100: #fde3e5;
  --color-primary-200: #fccccf;
  --color-primary-300: #f9a8ad;
  --color-primary-400: #f3767e;
  --color-primary-500: #e94a54;
  --color-primary-600: #d52d38;
  --color-primary-700: #a92029;
  --color-primary-800: #942028;
  --color-primary-900: #7b2127;
  --color-primary-950: #430c10;

  --color-secondary: #BE8C48;
  --color-warning: #FFF6E5;
  --color-background: #FFF6E5;
  --color-menu: #817382;

  --color-danger: #fb1c32;
  --color-info: #666c89;

  --color-bg-top: #FFF7E7;
  --color-bg-bottom: #FFF1DC;

  --color-orange: #F95C19;
  --color-footer: #BE8C48;
  --color-yellow-light: #FFD078;
  --color-green: #16A34A;
  --color-gray: #9291A1;
}

.lg\:max-w-8xl {
    max-width: 1462px;
    margin-left: auto;
    margin-right: auto;
}

.font-roman{
  font-family: 'Times New Roman', Times, serif;
}

.navbar{
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 0;
}
.navbar.is-sticky {
    position: fixed;
    z-index: 50;
    top: -25px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8);
    animation: slideDown 0.9s ease;
}
@media (max-width: 1024px) {
    .navbar.is-sticky {
        display: none;
    }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* ~/assets/css/navbar.css */
.navbar {
  @apply w-full top-0 left-0 right-0 py-2 transition-all duration-300 relative bg-transparent;
}

.navbar.is-sticky {
  @apply fixed z-50 -top-6 bg-white/80 lg:block hidden;
  animation: slideDown 0.9s ease forwards;
}

/* Custom slideDown animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.navbar {
  @apply fixed right-0;
}

[aria-label=hero-banner]::before {
    @apply content-[''] absolute bottom-10 top-0 z-0 left-0 w-full h-full;
    background: linear-gradient(0deg, #ffffff 40.10%, rgba(255, 255, 255, 0.753) 56.08%);
}

[aria-label=about-us]::before {
    @apply content-[''] absolute bottom-10 top-0 z-0 left-0 w-full h-full;
    background: linear-gradient(0deg, #ffffff 56.10%, rgba(255, 255, 255, 0.753) 80.08%);
}

.submenu li {
    list-style: none;
}

.submenu a {
    padding: 7px;
    color: #c28f64;
    background-color: #0d3d3c;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.submenu a:hover {
    background-color: #0d3d3c;
}

 .card-wrapper .card-carousel{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 4) - 25px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 30px;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }
    .card-carousel::-webkit-scrollbar {
       display: none;
    }
    .card-carousel.no-transition {
       scroll-behavior: auto;
    }
    .card-carousel.dragging .card {
        cursor: grab;
        user-select: none;
    }

    @media screen and (max-width: 900px) {
      .card-wrapper .card-carousel {
          grid-auto-columns: calc((100% / 2) - 12px);
      }
    }
    @media screen and (max-width: 600px) {
      .card-wrapper .card-carousel {
          grid-auto-columns: calc((100% / 2) - 3px);
          gap: 30px;
          padding: 45px;
          padding-right: 27px;
      }
    }


.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 25px);
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 30px;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar { display: none; }

.carousel.dragging { scroll-behavior: auto; }

.card { scroll-snap-align: start; }

@media screen and (max-width: 900px) {
  .carousel {
        grid-auto-columns: calc((100% / 1) - 12px);
    }
}
@media screen and (max-width: 600px) {
  .carousel {
      grid-auto-columns: calc((100% / 1) - 3px);
      gap: 30px;
      padding: 45px;
      padding-right: 27px;
  }
}


  /* The container must be positioned relative: */
  .custom-select {
    position: relative;
    font-family: Arial;
    color: #c28f64;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 15px;
    right: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-color: #c28f64 transparent transparent transparent;
  }
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #c28f64 transparent;
    top: 10px;
  }

  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #c28f64;
    padding: 0px 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    text-align: left;
    text-wrap: nowrap;
    overflow-y: auto;
    margin-right: 3px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  /* Style items (options): */
  .select-items {
    position: absolute;
    overflow-y: auto;
    height: 480px;
    overflow-x: hidden;
    background-color: #0d3d3c;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    padding-right: 2px;
    width: 390px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  .select-items::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.select-items::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.select-items::-webkit-scrollbar-thumb {
    background-color: #c28f64;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

.select-items::-webkit-scrollbar-thumb:hover {
    background: #a87551;
}